.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.container {
  background-color: #ebf0f4;
  border-radius: 3px;
  width: 45%;
  margin: auto;
  /* border: 2px solid red; */
  height: 200%;
}
.container .heading {
  width: 92%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .heading button {
  color: red;
  border: 1px solid gray;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

form {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  padding: 20px 0px;
}
form .element {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  justify-content: center;
  position: relative;
}
form .element label {
  font-weight: 800;
  margin: 10px;
}
form .element .input-icon-feild {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  border-radius: 7px;
}
form .element .input-icon-feild .icon {
  color: #3faefd;
}
form .element .input-icon-feild input {
  height: 38px;
  width: 90%;
  border: none;
  outline: none;
}
form .element .input-icon-feild select {
  height: 40px;
  width: 85%;
  border: none;
  outline: none;
}
form .element textarea {
  /* width: 86%; */
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 20px;
}
form > button {
  background-color: #3a4b86;
  width: 100%;
  padding: 8px 0px;
  font-size: 20px;
  color: white;
  margin-top: 100px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    border: 2px solid red;
    width: 100%;
  }
}
